@media (min-width: 80ch) {
	main {
		padding-bottom: 1px;
	}
}

@media screen and (min-width: 80ch) {
	body {
		background-color: #eee;
	}

	main {
		background-color: #fff;
		box-shadow: 0 0 8px #0005;
		box-sizing: border-box;
		margin: 1rem auto;
		max-width: 80ch;
	}
}

.heading {
	display: flex;
	gap: 1ch;
	margin: 0.5rem 0;
}

a {
	color: #1e9968;
}

article {
	margin: 0.5rem 0;
}

body {
	font-family: "Times New Roman", serif;
	font-size: 12pt;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0.25em 0;
}

section {
	margin-bottom: 1rem;
	padding: 0 1rem;
}

section.bio {
	grid-area: 2 / 2 / 4 / 4;
}

section.education {
	grid-area: 9 / 2 / 11 / 4;
}

section.employment {
	grid-area: 4 / 2 / 9 / 4;
}

section.info {
	grid-area: 2 / 1 / 4 / 2;
}

section.skills {
	grid-area: 4 / 1 / 12 / 2;
}

section.title {
	border-bottom: 1px solid black;
	padding: 1rem;

	grid-area: 1 / 1 / 1 / 4;
}

ul {
	margin: 0;
	padding: 0 0 0 1.5em;
}

ul.plain {
	list-style: none;
	padding: 0;
}

ul.plain > li {
	margin: 0.5rem 0;
}
