:root {
	--border-color: #cbd4d6;
	--text-color: #474647;
}

.bio {
	border-bottom: 2px solid var(--border-color);
	grid-column: 2 / 4;
	grid-row: 1 / 2;
}

.employment {
	grid-column: 2 / 4;
	grid-row: 2 / 3;
}

.name {
	display: block;
	font-size: 3rem;
	letter-spacing: 0.25rem;
}

.name {
	color: #000;
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
}

.profile {
	border-right: 2px solid var(--border-color);
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

.spread {
	align-items: center;
	display: flex;
	gap: 1em;
	justify-content: flex-start;
}

.subtitle {
	display: block;
	font-size: 1.5rem;
}

.underline::after {
	background-color: var(--text-color);
	content: " ";
	display: block;
	height: 0.2em;
	width: 1.25em;
}

a {
	color: #8447FF;
}

body {
	background-color: white;
	box-shadow: 0 0 1rem 0 #0005;
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	font-family: 'Gantari', sans-serif;
	height: 279mm;
	margin: 0 auto;
	padding: 0;
	width: 216mm;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	text-transform: uppercase;
}

html {
	background-color: #f0f0f0;
	font-size: 12pt;
}

header {
	background-color: #AFD0D6;
	padding: 1em;
}

main {
	display: grid;
	flex-grow: 1;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 2fr;
}

section {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 1em;
}

section h4 {
	margin: 0;
}

ul.plain {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.plain li {
	margin-bottom: 0.5em;
}