@media (max-width: 80ch) {
	section {
		margin-bottom: 1rem;
	}
}

@media print {
	a {
		color: inherit;
		text-decoration: none;
	}

	body {
		font-family: "Times New Roman", serif;
		font-size: 8pt;
	}

	section {
		margin: 1rem 0;
	}

	section.title {
		border-bottom: 1px solid black;
		margin: 0;
	}
}

@media screen {
	a {
		color: #1e9968;
	}

	body {
		font-family: "Gantari", sans-serif;
		font-size: 12pt;
	}

	section.title {
		background-color: #bcf4de;
	}
}

@media screen and (min-width: 80ch) {
	body {
		background-color: #eee;
	}

	main {
		background-color: #fff;
		box-shadow: 0 0 8px #0005;
		box-sizing: border-box;
		margin: 1rem auto;
		max-width: 80ch;
	}
}

.heading {
	display: flex;
	gap: 1ch;
	margin: 0.5rem 0;
}

article {
	margin: 0.5rem 0;
}

body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0.25em 0;
}

section {
	break-inside: avoid;
	padding: 0 1rem;
	margin: 1rem 0;
}

section:last-child {
	padding-bottom: 1rem;
}

section.title {
	padding: 1rem;
}

ul {
	margin: 0;
	padding: 0 0 0 1.5em;
}

ul.plain {
	list-style: none;
	padding: 0;
}

ul.plain > li {
	margin: 0.5rem 0;
}
