@media print {
	body {
		box-shadow: none;
		height: auto;
		margin: 0;
		width: auto;
	}
}

@media print and (min-width: 75ch), screen and (min-width: 75ch) {
	.bio {
		border-bottom: 2px solid var(--border-color);
		grid-column: 2 / 4;
		grid-row: 1 / 2;
	}
	
	.employment {
		grid-column: 2 / 4;
		grid-row: 2 / 3;
	}

	.profile {
		border-right: 2px solid var(--border-color);
		grid-column: 1 / 2;
		grid-row: 1 / 3;
	}
	
	main {
		display: grid;
	}
}

@media screen {
	body {
		box-shadow: 0 0 1rem 0 #0005;
		margin: 0 auto;
	}
}

@media screen and (max-width: 250mm) {
	body {
		width: 100%;
	}
}

@media screen and (min-width: 250mm) {
	body {
		width: 216mm;
	}
}

@media screen and (max-width: 75ch) {
	main {
		display: block;
	}

	section {
		border-bottom: 2px solid var(--border-color);
	}
}

:root {
	--border-color: #cbd4d6;
	--text-color: #474647;
}

.name {
	display: block;
	font-size: 3rem;
	letter-spacing: 0.25rem;
}

.name {
	color: #000;
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
}

.spread {
	align-items: center;
	display: flex;
	gap: 1em;
	justify-content: flex-start;
}

.subtitle {
	display: block;
	font-size: 1.5rem;
}

.underline::after {
	background-color: var(--text-color);
	content: " ";
	display: block;
	height: 0.2em;
	width: 1.25em;
}

a {
	color: #8447FF;
}

body {
	background-color: white;
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	font-family: 'Gantari', sans-serif;
	font-size: 12pt;
	min-height: 279mm;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	text-transform: uppercase;
}

header {
	background-color: #AFD0D6;
	padding: 1em;
}

main {
	flex-grow: 1;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 3fr;
}

section {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 1em;
	padding-bottom: 0;
}

section h4 {
	margin: 0;
}

ul.plain {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.plain li {
	margin-bottom: 0.5em;
}